// Widescreens
@include mediaXL {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Tablets & Small laptops
@include mediaMd {
  body {
    max-width: 100%;
  }
  main {
    align-items: center;
    text-align: center;

    &.lg-heading {
      font-size: 5rem !important;
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    padding-top: 5px;
    min-height: 0;

    &.show {
      transform: translate3d(0,0,0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%,0,0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%,0,0);

    .portrait {
      background: url(../img/portrait.jpeg);
      width: 150px;
      height: 150px;
      background-size: cover;
    }
  }

  .about-info {
    &.lg-heading {
      font-size: 5rem !important;
    }
    grid-template-areas:
    'bioimage'
    'bio'
    'empty'
    'workex'
    'job1'
    'job2'
    'job3';

    grid-template-columns: 1fr;
  }
  .projects {
    img {
      width: calc(100% - 0.01rem);
      height: auto;
    }
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .grid {
    grid-template-columns: 1fr;
  }

  .info {
    font-size: 18px !important;
    display: block;
    width: auto !important;
    display: block;
  }
}

// Smartphones
@include mediaSm {
  body {
    max-width: 100%;
    align-content: space-evenly;
  }
  main#home h1 {
    margin-top: 10vh;

    &.lg-heading {
      font-size: 5rem !important;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    padding-top: 5px;
    min-height: 0;

    &.show {
      transform: translate3d(0,0,0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%,0,0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%,0,0);

    .portrait {
      background: url(../img/portrait.jpeg);
      width: 100px;
      height: 100px;
      background-size: cover;
    }
  }
  .about-info {
      grid-template-areas:
              'bioimage'
              'bio'
              'empty'
              'workex'
              'job1'
              'job2'
              'job3';

      grid-template-columns: 1fr;

    .text-secondary {
      width: calc(100% - 0.01rem);
    }
  }
  .projects {
    img {
      width: calc(100% - 0.01rem);
      height: 120px;
    }

    grid-template-columns: (auto-fit 1fr);
  }

  .btn {
    width: calc(100% - 0.01rem);
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .info {
    font-size: 12px !important;
    width: auto !important;
    display: block;
  }
}

@include mediaXS {

  main#home h1 {
    margin-top: 10vh;

    &.lg-heading {
      font-size: 4.5rem !important;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    padding-top: 5px;
    min-height: 0;

    &.show {
      transform: translate3d(0,0,0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%,0,0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%,0,0);

    .portrait {
      background: url(../img/portrait.jpeg);
      width: 100px;
      height: 100px;
      background-size: cover;
    }
  }

  .about-info {
    grid-template-areas:
            'bioimage'
            'bio'
            'empty'
            'workex'
            'job1'
            'job2'
            'job3';

    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: (auto-fit 1fr);
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
